In [ ]:
v1=0               #if else
if v1==0:
  print("v1 is zero")
else:
    print("not zero")

v1 is zero

In [ ]:
number =0                  #if elif
if number>0:
  print("postive number")
elif number==0:
  print('zero')
else:
  print('negative number')

zero

In [ ]:
x=41                       #nested if
if x>10:
  print("above ten,")
  if x> 20:
    print("and also above 20")
  else:
    print("but not above 20")

above ten,
and also above 20

In [ ]:
a=input("enter a number :")
print(a)

enter a number :2
2

In [ ]:
import random
print(random.randrange(1,10))

6

In [ ]:
import random
b=random.randrange(1,10)
print(b)
a=int(input("enter a number :"))
if a==b :
  print("u won")
else:
    print("u fail")

8
enter a number :8
u won

In [ ]:
a= int(input("enter a number :"))
if a %2 == 0:
   print("even")
else :
    print("odd")

enter a number :12
even

In [ ]:
a= int(input("enter a number :"))
b= int(input("enter a number :"))
if a>b:
  print(a)
if b>a:
    print(b)
if b %2==0:
    print("even")
else:
  print:("odd")

enter a number :9
enter a number :6
9
even

In [ ]:
a= int(input("enter a number :"))
b= int(input("enter a number :"))
if a>b:
  print(a)
else:
    print(b)

enter a number :8
enter a number :14
14