In [ ]:
a=33
b=200
if b>a:
  pass

In [ ]:
i=1
while i<6:
  print(i)
  if i == 3:
   break
  i+=1

1
2
3

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
    print(i)

In [ ]:
for x in range(11):
 print(x)
#syntax:-
#range(start, stop, step)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(1,11):
 print(x)
#Works:starting from 1 and ending at 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
def my_function(fname):
  print(fname +"kk")

  my_function("kiran")
  my_function("liya")
  my_function("nima")

In [ ]:
def my_function():
  print("hello from a function")
  my_function()